In [ ]:
for i in range(4):
  for j in range(4):
    print("*", end="")
  print()

****
****
****
****

In [ ]:
def nForest(n:int) ->None:
    # Write your solution here.
    for i in range(n):
        for j in range(n):
            print("*", end = " ")
        print()
n = 3
nForest(n)

* * *
* * *
* * *

In [ ]:
for i in range(5):
  for j in range(i):
    print("*", end = '')
  print()

*
**
***
****

In [ ]:
for i in range(4):
  for j in range(i+1):
    print(j+1, end = '')
  print()

1
12
123
1234

In [ ]:
for i in range(4):
  for j in range(i+1):
    print(j+1, end = '')
  print()

1
12
123
1234

In [ ]:
for i in range(5):
  for j in range(i+1):
    print(i+1,"", end = '')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(5):
  for j in range(5-i):
    print("*", end = '')
  print()

*****
****
***
**
*

In [ ]:
for i in range(5):
  for j in range(5-i):
    print(j+1,end='')
  print()

12345
1234
123
12
1

In [ ]:
for i in range(5):
  for j in range(5 - i - 1):
    print(" ", end="")
  for j in range(2 * i + 1):
    print("*", end="")
  print()

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(5):
    for j in range(5-i-1):
        print(" ", end="")
    for j in range(2*i+1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(5):
  for j in range(5-i-1):
    print(" ", end='')
  for j in range(2*i+1):
    print("*",end='')
  for j in range(5-i-1):
    print(" ", end='')
  print()

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(5):
  for j in range(i):
    print(" ",end='')
  for j in range(2*5-(2*i+1)):
    print("*",end='')
  for j in range(i):
    print(" ",end='')
  print()

*********
 *******
  *****
   ***
    *

In [ ]:
for i in range(5):
  for j in range(5-i-1):
    print(" ",end='')
  for j in range(2*i+1):
    print("*",end='')
  for j in range(5-i-1):
    print(" ",end='')
  print()
for i in range(5):
  for j in range(i):
    print(" ",end='')
  for j in range(2*5-(2*i+1)):
    print("*",end='')
  for j in range(i):
    print(" ",end='')
  print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [ ]:
for i in range(5):
    for j in range(i + 1):
        print("*", end="")
    print()

for i in range(4, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

In [ ]:
for i in range(5):
    for j in range(i + 1):
        if (i + j) % 2 == 0:
            print("1", end="")
        else:
            print("0", end="")
    print()

1
01
101
0101
10101

In [ ]:
for i in range(1, 5):
    for j in range(1, i + 1):
        print(j, end="")
    for j in range(2 * (4 - i)):
        print(" ", end="")
    for j in range(i, 0, -1):
        print(j, end="")
    print()

1      1
12    21
123  321
12344321

In [ ]:
n = int(input("enter number:"))
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end="")
    for j in range(2 * (n - i)):
        print(" ", end="")
    for j in range(i, 0, -1):
        print(j, end="")
    print()

enter number:5
1        1
12      21
123    321
1234  4321
1234554321

In [ ]:
n = int(input("enter number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  for j in range(2*(n-i)):
    print(" ",end="")
  for j in range(i,0,-1):
    print(j,end='')
  print()

enter number:5
1        1
12      21
123    321
1234  4321
1234554321

In [ ]:
for i in range(5):
    for j in range(i + 1):
        if (i + j) % 2 == 0:
            print("1", end="")
        else:
            print("0", end="")
    print()

1
01
101
0101
10101

In [ ]:
num = 1
for i in range(6):
  for j in range(i):
    print(num,end='')
    num = num+1
  print()

1
23
456
78910
1112131415

In [ ]:
for i in range(5):
  for j in range(i + 1):
    print(chr(ord('A') + j), end='')
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
for i in range(5):
  for j in range(5 - i):
    print(chr(ord('A') + j), end='')
  print()

ABCDE
ABCD
ABC
AB
A

In [ ]:
for i in range(5):
  for j in range(i + 1):
    print(chr(ord('A') + i), end='')
  print()

A
BB
CCC
DDDD
EEEEE

In [ ]:
num_rows = 5
for i in range(num_rows):
  # Print leading spaces
  for j in range(num_rows - 1 - i):
    print(" ", end="")
  # Print ascending letters up to the middle
  for j in range(i + 1):
    print(chr(ord('A') + j), end="")
  # Placeholder for printing descending letters and trailing spaces
  print()

    A
   AB
  ABC
 ABCD
ABCDE

In [ ]:
num_rows = 5
for i in range(num_rows):
  # Print leading spaces
  for j in range(num_rows - 1 - i):
    print(" ", end="")
  # Print ascending letters up to the middle
  for j in range(i + 1):
    print(chr(ord('A') + j), end="")
  # Print descending letters from the middle - 1 down to A
  for j in range(i - 1, -1, -1):
    print(chr(ord('A') + j), end="")
  # Print trailing spaces (same as leading spaces for this pattern)
  for j in range(num_rows - 1 - i):
    print(" ", end="")
  print()

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

In [ ]:
for i in range(5):
  for j in range(i+1):
    print(chr(ord('E')-j),end='')
  print()

E
ED
EDC
EDCB
EDCBA

In [ ]:
for i in range(5):
  for j in range(5-i):
    print("*",end='')
  for j in range(2*i+1):
    print(" ",end='')
  for j in range(5-i):
    print("*",end='')
  print()
for i in range(5):
  for j in range(i+1):
    print("*",end='')
  for j in range(2*(5-i-1)):
    print(" ",end='')
  for j in range(i+1):
    print("*",end='')
  print()

***** *****
****   ****
***     ***
**       **
*         *
*        *
**      **
***    ***
****  ****
**********

In [ ]:
for i in range(4):
  for j in range(4):
    if i == 0 or i == 3 or j == 0 or j == 3:
      print("*", end='')
    else:

      print(" ", end='')
  print()

****
*  *
*  *
****

In [ ]:
for i in range(5):
  for j in range(5):
    if i == 0 or i == 4 or j == 0 or j == 4:
      print("*", end='')
    else:
      print(" ", end='')
  print()

*****
*   *
*   *
*   *
*****

In [ ]:
n = 4
for i in range(2 * n - 1):
  for j in range(2 * n - 1):
    top = i
    bottom = (2 * n - 2) - i
    left = j
    right = (2 * n - 2) - j
    min_dist = min(min(top, bottom), min(left, right))
    print(n - min_dist, end='')
  print()

4444444
4333334
4322234
4321234
4322234
4333334
4444444